

// Fonts
$font_header: "Young Serif", serif; 
$font_principal: "Outfit", sans-serif;

// Sizes of Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colors
/// Primary
$nutmeg: hsl(14, 45%, 36%);
$darkRaspberry: hsl(332, 51%, 32%); 

/// Neutros
$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);
$roseWhite: hsl(330, 100%, 98%);
$eggshell: hsl(30, 54%, 90%);
$lightGrey: hsl(30, 18%, 87%);
$wengeBrown: hsl(30, 10%, 34%);
$darkCharcoal: hsl(24, 5%, 18%);

$separacion: 5rem;

// Weigths

$delgada: 300;
$regular : 400;
$semiRegular : 500;
$bold: 700;
$superBlack: 900